In [82]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn
import imblearn
from imblearn.combine import SMOTETomek
from sklearn.ensemble import GradientBoostingClassifier,RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,f1_score

In [2]:
ds=pd.read_csv("C:\loan_prediction.csv")
ds.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [5]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [29]:
ds.shape

(614, 13)

# Checking for Null values

In [6]:
ds.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [91]:
#replacing null values
ds['Self_Employed']=ds['Self_Employed'].fillna(ds['Self_Employed'].mode()[0])
ds['Gender'] = ds['Gender'].fillna(ds['Gender'].mode()[0])
ds['Married']=ds['Married'].fillna(ds['Married'].mode()[0])
ds['Dependents']=ds['Dependents'].fillna(ds['Dependents'].mode()[0])
ds['Self_Employed']=ds['Self_Employed'].fillna(ds['Self_Employed'].mode()[0])
ds['LoanAmount']=ds['LoanAmount'].fillna(ds['LoanAmount'].mode()[0])
ds['Loan_Amount_Term']=ds['Loan_Amount_Term'].fillna(ds['Loan_Amount_Term'].mode()[0])
ds['Credit_History']=ds['Credit_History'].fillna(ds['Credit_History'].mode()[0])

# Handling Categorical Values

In [34]:
ds.select_dtypes(include='object').columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [36]:
ds['Gender'].unique()

array(['Male', 'Female', nan], dtype=object)

In [37]:
ds['Gender'].replace({'Male':1,'Female':0},inplace=True)
ds['Married'].unique()

array(['No', 'Yes'], dtype=object)

In [38]:
ds['Married'].replace({'Yes':1,'No':0},inplace=True)
ds['Dependents'].unique()

array(['0', '1', '2', '3'], dtype=object)

In [39]:
ds['Dependents'].replace({'0':0,'1':1,'2':2,'3':3},inplace=True)
ds['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [40]:
ds['Self_Employed'].replace({'Yes':1,'No':0},inplace=True)
ds['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [41]:
ds['Property_Area'].replace({'Urban':2,'Rural':0,'Semiurban':1},inplace=True)
ds['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [42]:
ds['Loan_Status'].replace({'Y':1,'N':0},inplace=True)
ds['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [93]:
ds['Education'].replace({'Graduate':1,'Not Graduate':0},inplace=True)
ds['CoapplicantIncome']=ds['CoapplicantIncome'].astype("int64")
ds['LoanAmount']=ds['LoanAmount'].astype("int64")
ds['Loan_Amount_Term']=ds['Loan_Amount_Term'].astype("int64")
ds['Credit_History']=ds['Credit_History'].astype("int64")
ds['Self_Employed']=ds['Self_Employed'].astype("int64")
ds['Dependents']=ds['Dependents'].astype("int64")
ds['Married']=ds['Married'].astype("int64")
ds['Gender']=ds['Gender'].astype("int64")

# Balancing Dataset

In [48]:
sm=SMOTETomek(0.90)

In [70]:
y=ds['Loan_Status']
x=ds.drop(columns=['Loan_Status'],axis=1)

In [73]:
xb,yb = sm.fit_resample(x,y)

In [19]:
print(y.value_counts())

Y    422
N    192
Name: Loan_Status, dtype: int64

In [74]:
print(yb.value_counts())

1    359
0    316
Name: Loan_Status, dtype: int64

# Scaling The Data

In [77]:
sc=StandardScaler()

In [78]:
xb=sc.fit_transform(xb)

In [80]:
xb=pd.DataFrame(xb)

In [81]:
xb.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,-1.762415,0.496679,-1.195014,-0.746049,0.605307,-0.331960,0.135557,-0.529444,-0.297085,0.281662,0.582482,1.359418
1,-1.756612,0.496679,0.836811,0.275418,0.605307,-0.331960,-0.102179,-0.048306,-0.195046,0.281662,0.582482,-1.240036
2,-1.750809,0.496679,0.836811,-0.746049,0.605307,3.012412,-0.399443,-0.529444,-0.985850,0.281662,0.582482,1.359418
3,-1.745007,0.496679,0.836811,-0.746049,-1.652054,-0.331960,-0.477750,0.222893,-0.297085,0.281662,0.582482,1.359418
4,-1.739204,0.496679,-1.195014,-0.746049,0.605307,-0.331960,0.163912,-0.529444,-0.029232,0.281662,0.582482,1.359418

# Splitting Data Into Train And Test

In [83]:
x_train, x_test, y_train, y_test = train_test_split(x_bal, y_bal, test_size = 0.33, random_state = 42)

In [84]:
x_train.shape

(457, 12)

In [85]:
x_test.shape

(226, 12)

In [86]:
y_train.shape

(457,)

In [87]:
y_test.shape

(226,)